footer .pagination-links a{
  padding: 0.5rem;
  box-shadow: none;
}
footer .pagination-links a > span{
  font-size: var(--sl-text-xs) !important;
}
footer .pagination-links a .link-title{
  font-size: var(--sl-text-lg) !important;
}

[data-has-hero] .hero > img {
  filter: drop-shadow(0 0 8rem #4B33C3);
}

.action{
  padding: 0.5rem 1.25rem !important;
}
.action:hover{
  opacity: 80%;
  transition: opacity 0.2s;
}
.action.minimal{
  color: currentColor;
  background-color: var(--sl-color-gray-6);
}

.expressive-code .copy button {
  width: 1.8rem !important;
  height: 1.8rem !important;
}

.sl-markdown-content blockquote:not(:where(.not-content *)){
  border-inline-start: 4px solid var(--sl-color-gray-5) !important;
}
.sl-markdown-content ul:not([role='tablist']) li{
  list-style: disc !important;
}
.sl-markdown-content ul:not([role='tablist']){
  padding-left: 1rem;
}

.sl-steps > li:last-child::after{
  display: none;
}
